*,*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Cabin',sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    background: #000;
}

html{
    --color-primary: #6ce5b1;
    --color-secondary: #f3eeea;
    --color-accent: #ed8299;
    --color-highlight: #5e54c9;
    --color-inverted: #031926;
    --color-inverted-muted: #4d4d4d;
    --color-neutral: #ffffff;
    --color-neutral-muted: #fbf7f3;
    --color-code-1: #5e54c9;
    --color-code-2: #ef476f;
    --color-code-3: #9f7aea;
    --color-code-4: #e53e3e;
}

html{
    font-family: system-ui,
    -apple-system,Segoe UI,
    Roboto,Ubuntu,Cantarell,
    Noto Sans,sans-serif,
    BlinkMacSystemFont,
    Helvetica Neue,Arial,
    Apple Color Emoji,
    Segoe UI Emoji,Segoe UI Symbol,
    Noto Color Emoji;
    line-height: 1.5;
 
}

section{
    margin-bottom: 8em;
}

img{
   max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}
.roll{
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Ubuntu',sans-serif;
}
h1{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}
h2{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

h3{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

h4{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity)); 
}

h5{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity)); 
}

p{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}
ul{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

ol{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

section{

}

@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Bold.ttf'); } 
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Light.ttf'); }
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Medium.ttf'); }
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Regular.ttf');}
    



/* <--Header--> */

header {
    /* background: #136c72 ; */
    padding: 1em 0;
}

.nav{
    /* width: 100%; */
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav__list--primary{

}

.nav__item + .nav__item{
    margin-left: 1em;
}


.nav__link{
    color:#fff;
    text-decoration: none;
    font-size: .78em;
    font-family: 'Ubuntu';
    
}
.nav__link--button{
    padding: .2em .7em;
    background: #fff;
    color: #23424A;
    border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus{
    opacity: .65;
}


.img-div img{
    border-radius: 50%;
    height: 30px;
    /* padding-left: 5px; */
    margin-right: 1em;
}



/* <---Blog--> */

.Blog h1{
    font-size: 1.8em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.Blog img{
    border-radius: 20px;
}

.Blog p:first-of-type{
    --text-opacity: 1;
    color: rgba(160,174,192,var(--text-opacity));
    font-size: .7em;
}

.blog1 h3{
    font-size: 1.5em;
    line-height: ;
}
.blog1 a{
    text-decoration: none;
    color: salmon;
    font-family: 'Ubuntu';
    font-weight: 100;
}
.blog1 .fa{
    color:salmon;
    margin-left: 1em;
}

.blog1,
.blog2,
.blog3,
.blog4,
.blog5,
.blog6,
.blog7,
.blog8,
.blog9,
.blog10,
.blog11,
.blog12{
    margin-bottom: 2.5em;
}

.Get-in-touch{
    background: #6CE5B1;
    overflow: hidden;
    border-radius: 20px;
}
.Get-in-touch img{
    display: block;
    /* transform: scale(1.2,1.6); */
    transform: scale(1.6);
    margin-bottom: 5em;
}
.Get-in-touch2{
    background: sandybrown;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 1rem 1rem 1.5rem;
}
.Get-in-touch2 h2{
    font-size: 1.875rem;
    color: #031926;
    color: var(--color-inverted);
    --text-opacity: 0.75;
}
.Get-in-touch2 p{
    color: #031926;
    color: var(--color-inverted);
    --text-opacity: 0.75;
}
.btn-inverted {
    background-color: var(--color-inverted);
    color: var(--color-neutral);
    padding: .75rem 2rem;
    border-radius: .75rem;
}

.btn {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 600;
    letter-spacing: .025em;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transition-property: all;
    transition-duration: .2s;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
    text-decoration: inherit;
}





/* <--Footer--> */

.Quick--links{
    margin-top: 9em;
}

.footer-body{
    margin-bottom: 2em;;
}
.footer-body img{
    border-radius: 50%;
    height: 55px;
    /* padding-left: 5px; */
}

.personal h3{
    margin-top: inherit;
    font-size: 1.5em;
    font-weight: 600;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}
.personal p:last-of-type{
    color: #ef476f; 
}

.quick-link-list{
    flex-direction: column;
    
}

.quick-link-list a{
    text-decoration: none;
    /* color: #000; */
    margin-bottom: .7em;
    font-size: .8em;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

.featured-articles-list{
    flex-direction: column;
}

.featured-articles-list a{
    text-decoration: none;
    /* color: #000; */
    margin-bottom: .7em;
    font-size: .8em;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

.social-icon-2{
    margin-bottom: 3em;
    display: flex;
    padding: 0;
    
}
.social-icon-2 .list{
  
}

.font-awesome-2{
    list-style: none;
    font-size: 1.2em;
}

.font-awesome-2 .fa{
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

.font-awesome-2 + .font-awesome-2{
    margin-left: 1.14em;
}

.copyright{
    display: flex;
    align-items: flex-end;
    margin-top: 5em;
    margin-bottom: 1em;
}
.copyright .fa{
    margin-right: .3em;
    --text-opacity: 1;
    color: rgba(160,174,192,var(--text-opacity))
}
.copyright p{
    margin-bottom: 0;
    font-size: .75em;
    --text-opacity: 1;
    color: rgba(160,174,192,var(--text-opacity))
}