*,*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Cabin',sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    background: #000;
}

html{
    --color-primary: #6ce5b1;
    --color-secondary: #f3eeea;
    --color-accent: #ed8299;
    --color-highlight: #5e54c9;
    --color-inverted: #031926;
    --color-inverted-muted: #4d4d4d;
    --color-neutral: #ffffff;
    --color-neutral-muted: #fbf7f3;
    --color-code-1: #5e54c9;
    --color-code-2: #ef476f;
    --color-code-3: #9f7aea;
    --color-code-4: #e53e3e;
}

html{
    font-family: system-ui,
    -apple-system,Segoe UI,
    Roboto,Ubuntu,Cantarell,
    Noto Sans,sans-serif,
    BlinkMacSystemFont,
    Helvetica Neue,Arial,
    Apple Color Emoji,
    Segoe UI Emoji,Segoe UI Symbol,
    Noto Color Emoji;
    /* line-height: 1.5; */
 
}

section{
    /* margin-bottom: 8em; */
}

img{
   max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}
.roll{
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Ubuntu',sans-serif;
}
h1{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}
h2{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

h3{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

h4{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity)); 
}

h5{
    font-weight: 500;
    font-family: 'Ubuntu';
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity)); 
}

p{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}
ul{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

ol{
    font-size: 1rem;
    display: block;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}


@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Bold.ttf'); } 
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Light.ttf'); }
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Medium.ttf'); }
@font-face { font-family: 'Ubuntu'; src: url('Ubuntu/Ubuntu-Regular.ttf');}
    



/* <--Header--> */

header {
    /* background: #136c72 ; */
    padding: 1em 0;
}

.nav{
    /* width: 100%; */
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav__list--primary{

}

.nav__item + .nav__item{
    margin-left: 1em;
}


.nav__link{
    color:#fff;
    text-decoration: none;
    font-size: .78em;
    font-family: 'Ubuntu';
    
}
.nav__link--button{
    padding: .3em .7em;
    background: #fff;
    color: #23424A;
    border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus{
    opacity: .65;
}


.img-div img{
    border-radius: 50%;
    height: 30px;
    /* padding-left: 5px; */
    margin-right: 1em;
}





/* <---Blog--> */


.blog2{
    margin-top: 3em;
}
.blog2 h1{
    text-align: center;
}
.blog2 img{
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
}.blog2 p{
    margin-bottom: 1em;
}
.blog-flex{
    display: flex;
    vertical-align: center;
}
.img-div-blog img{
    border-radius: 50%;
    height: 45px;
    /* padding-left: 5px; */
    margin-right: 1em;
}



.social-icon{
    margin-top: 2em;
    margin-bottom: 3em;
    
}
.social-icon .list{
    display: flex; 
    /* margin-right: 2em; */
    
    

}

.font-awesome{
    list-style: none;
    font-size: 1.2em;
}
.font-awesome .fa{
    --text-opacity: 1;
    color: #fff;
    /* color: rgba(255,255,255,var(--text-opacity)); */
}
.font-awesome + .font-awesome{
    margin-left: 1.14em;
}







/* <--Footer--> */

.Quick--links{
    margin-top: 9em;
}

.footer-body{
    margin-bottom: 2em;;
}
.footer-body img{
    border-radius: 50%;
    height: 55px;
    /* padding-left: 5px; */
}

.personal h3{
    margin-top: inherit;
    font-size: 1.5em;
    font-weight: 600;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}
.personal p:last-of-type{
    color: #ef476f; 
}

.quick-link-list{
    flex-direction: column;
    
}

.quick-link-list a{
    text-decoration: none;
    /* color: #000; */
    margin-bottom: .7em;
    font-size: .8em;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

.featured-articles-list{
    flex-direction: column;
}

.featured-articles-list a{
    text-decoration: none;
    /* color: #000; */
    margin-bottom: .7em;
    font-size: .8em;
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226,232,240,var(--text-opacity));
}

.social-icon-2{
    margin-bottom: 3em;
    display: flex;
    padding: 0;
    
}
.social-icon-2 .list{
  
}

.font-awesome-2{
    list-style: none;
    font-size: 1.2em;
}

.font-awesome-2 .fa{
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

.font-awesome-2 + .font-awesome-2{
    margin-left: 1.14em;
}

.copyright{
    display: flex;
    align-items: flex-end;
    margin-top: 5em;
    margin-bottom: 1em;
}
.copyright .fa{
    margin-right: .3em;
    --text-opacity: 1;
    color: rgba(160,174,192,var(--text-opacity))
}
.copyright p{
    margin-bottom: 0;
    font-size: .75em;
    --text-opacity: 1;
    color: rgba(160,174,192,var(--text-opacity))
}